@font-face {
    font-family: 'Enter Sansman';
    src: url('/fonts/enter-sansman.bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Appliquez la police à des éléments spécifiques ou à tout le site */
body {
    font-family: 'Enter Sansman', sans-serif;
    font-size: 16px;
}

nav {
    padding: 28px 0px;
}

nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

img {
    height: 42px;
}

button {
    cursor: pointer;
    border: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.primary-button {
    padding: 14px 28px;
    background: #1B1C20;
    border-radius: 8px;
    color: white;
    transition: ease 200ms;
    font-family: 'Enter Sansman';
    font-size: 16px;
    border: 2px solid transparent;
}

.primary-button:hover {
    background: white;
    color: #1B1C20;
    border: 2px solid #1B1C20;
}

.primary-outline {
    padding: 14px 28px;
    background: white;
    color: #1B1C20;
    border: 2px solid #1B1C20;
    border-radius: 8px;
    transition: ease 200ms;
    font-family: 'Enter Sansman';
    font-size: 16px;
}

.primary-outline:hover {
    background: #1B1C20;
    color: white;
    border: 2px solid transparent;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h1 {
    font-size: 4.125rem;
}

h2 {
    font-size: 2.125rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.375rem;
}

h5 {
    font-size: 0.875rem;
    font-weight: 600;
}

.subtitle {
    font-family: MontSerrat, sans-serif;
    font-weight: 500;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    text-align: center;
    max-width: 1200px
}

section {
    margin: 50px 0
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.plans .plan-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 35px 30px;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    max-width: 260px;
    min-height: 300px;
    transition: 150ms ease-in;
    cursor: pointer;
}

.plans .plan-item:hover {
    transform: translateY(-5px);
}

.plans .plan-item:hover button {
    background: white;
    transform: translateX(5px);
}

.plans .plan-item:hover svg path {
    stroke: #1B1C20;
}

.plans .bg-dark.plan-item:hover button {
    background: red;
    transform: translateX(5px);
}

.plans .bg-dark.plan-item:hover svg path {
    stroke: white;
}

.plan-item-top-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plan-item-bottom-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 20px;
}

.plan-checkout {
    background: #1B1C20;
    border-radius: 10px;
    padding: 14px 12px;
    width: 40px;
    height: 40px;
    transition: 150ms ease;
}

.plan-description {
    font-family: MontSerrat, sans-serif;
    font-weight: 600;
    font-size: 18px;
}


.plans .bg-primary {
    background: #22CD10;
}

.plans .bg-secondary {
    background: #44D0FC;
}

.plans .bg-dark {
    background: #1B1C20;
    color: white
}

.plans .plan-sub {
    color: rgba(0, 0, 0, 0.6);
}

.plans .bg-dark .plan-sub {
    color: rgba(255, 255, 255, 0.6)
}

.plans .bg-dark .plan-checkout {
    background: white;
}

.font-28 {
    font-size: 1.75rem !important
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100% - 12.5rem);
    padding: 0 6.25rem;
    margin-top: 6.25rem;
}

.footer {
    display: flex;
    align-items: center;
    gap: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 25px 5px;
    justify-content: space-between;
    font-family: MontSerrat, sans-serif;
    font-weight: 500;
}

.footer-left {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.footer a:hover {
    text-decoration: underline;
}

.sold-out {
    position: relative;
}

.sold-out::before {
    position: absolute;
    content: "";
    left: 0;
    top: 47%;
    right: 0;
    border-top: 3px solid;
    border-color: red;

    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg) translateX(3px);
}

.sold-out-text {
    color: red;
    position: relative;
    top: -8px;
    left: 35%;
}

.confirm-card {
    font-family: MontSerrat, sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 25px;
    gap: 20px;
    background-color: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    width: 25%;
}

.confirm-card .top-content {
    display: flex;
    flex-direction: row;
    padding: 0 0 25px;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.confirm-card .column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title-column {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

.featured-column {
    color: rgba(0, 0, 0, 0.9);
    align-items: flex-end;
    font-weight: 600;
}

.badge-success {
    padding: 4px 10px;
    background: rgba(34, 205, 16, 0.12);
    border-radius: 8px;
    color: #22CD10;
    font-size: 14px;
}

.badge-danger {
    padding: 4px 10px;
    background: rgba(234, 84, 85, 0.12);
    border-radius: 8px;
    color: #EA5455;
    font-size: 14px;
}

.confirm-card .bottom-content {
    display: flex;
    flex-direction: row;
    padding: 0 0 25px;
    justify-content: space-between;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 27.5%;
    margin-top: 30px;
}

.w-100 {
    width: 100%;
}