@font-face {
    font-family: 'Enter Sansman';
    src: url('/fonts/enter-sansman.bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Appliquez la police à des éléments spécifiques ou à tout le site */
body {
    font-family: 'Enter Sansman', sans-serif;
}